.App {
    border: solid;
    padding: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: relative;
    left: 200px;
    top: 200px;
    height: 700px;
    width: 1000px;
}
.leftside {
    border: solid;
    margin: 30px 100px 100px 100px;
    padding: 20px 80px 50px 80px;
}

.rightside {
    border: solid;
}
.input{
    margin: 20px;
}

.checkbox {
    margin: 120px 30px 30px 30px;
}